/* #multi.theme-tango { background: white; }*/
.cm-s-tango { background: #fff; color: #2e3436; }
/* .cm-s-tango div.CodeMirror-cursor { background: #295fa1; width: auto; border: 0; } */
.cm-s-tango div.CodeMirror-cursor { border-left: 2px solid #295fa1; }
.cm-s-tango .CodeMirror-gutters { background: #d3d7cf; }

.cm-s-tango .CodeMirror-selected { background: #d8dcd3 !important; }
.cm-s-tango .CodeMirror-focused .CodeMirror-selected { background: #babdd6 !important; }

.cm-s-tango .cm-searching { background:#e9b96e; }
.cm-s-tango .searching-current { background:#ce5c00; color:#fff; }

/* trailing whitespace background: #ef2929 */

.cm-s-tango .cm-builtin { color: #75507b; }
.cm-s-tango .cm-comment { font-style: italic; color: #72746f; }
.cm-s-tango .cm-symbol,
.cm-s-tango .cm-atom { font-weight: bold; color: #295fa1; }
.cm-s-tango .cm-qualifier { color: #704879; }
.cm-s-tango .cm-variable { color: #2e3436; }
.cm-s-tango .cm-keyword { color: #9c219b; }
.cm-s-tango .cm-string,
.cm-s-tango .cm-string-2 { color: #b5172e; }
.cm-s-tango .cm-type {color: #295fa1; }
.cm-s-tango .cm-link {text-decoration: underline; color: #295fa1; }

.cm-s-tango span.cm-rainbow.cm-bracket {color: #88090b;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket1 {color: #707183;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket2 {color: #7388d6;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket3 {color: #909183;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket4 {color: #709870;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket5 {color: #907373;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket6 {color: #6276ba;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket7 {color: #858580;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket8 {color: #80a880;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket9 {color: #887070;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket10 {color: #907373;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket11 {color: #6276ba;}
.cm-s-tango span.cm-rainbow.cm-bracket.cm-bracket12 {color: #858580;}
